body{
  background-image: url(https://eme1102.github.io/Robotics-WEB/images/website_background.jpg);
}
header{
  background-image: url(https://eme1102.github.io/Robotics-WEB/images/header_background.jpg);
  text-align: center;
  font-size: 40px;
  color:white;
  overflow: hidden;
}

.nav_bar{
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: white;
  background-color: #00356a;
  overflow: hidden;
  justify-items: center;
}

@media (max-width: 768px){
  .nav_buttons{
    font-size: 20px;
    color:white;
    text-decoration: none;
  }
}
@media (min-width: 769px){
  .nav_buttons{
    font-size: 48px;
    color:white;
    text-decoration: none;
  }
}
.nav_buttons:hover{
  color:#bbbbbb
}
.nav_buttons:: hover{
    filter: brightness(110%);
}
@media (max-width: 768px){
  main{
    background-color: white;
    font-weight: 200;
    overflow: hidden;
  }
  .heading{
    font-size: 20px;
    color: black;
  }
  main p {
    color: black;
    font-size: 12px; 
    margin-bottom: 80px;
  }
}
@media (min-width: 769px){
  main{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    overflow: hidden;
  }
  .heading{
    font-size: 40px;
    color: black;
  }
  main p {
    color: black;
    font-size: 16px; 
    margin-bottom: 80px;
  }
}

header p {
  font-size: 20px; 
  color: white; 
  margin-top: 10px; 
}


body{
  margin: 0;
}
.left{
  float: left;
  width: 49%;
  margin-left: 1%;
}
.right{
  float: right;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}
img.extra-margin{
  margin-top: 60px;
}
img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 3px outset #00356a;
  max-height: 250px;
  max-width: 98%;
}
